# CityPulse CODEOWNERS
#
# Ownership assignments will be activated when repository collaborators
# and domain ownership boundaries are established.
#
# Future examples:
#
# /services/platform/location/    @location-team
# /infrastructure/                @platform-team
# /docs/04-security/              @security-team